
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black1: #242424;
    --black2:#1D1D1D;
    --yellow: #F8FAAD;
    --custom-white: #F0F0F0;
}
body, header, h1, h2, p{
    background-color: var(--black1);
    font-family: Montserrat;
    color: var(--custom-white)
}
 

.logo-position{
    display: flex;
    align-items: center;
}

.logo{
    width: 40px;
    height: auto;
   
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a{
    text-decoration: none;
    color: var(--custom-white);
}

.navbar li{
    display: inline-block;
    padding: 20px;
}
header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}

.contact-button button, .lets-talk-button button{
    margin-right: 50px;
    border-radius: 8px;
    background-color: var(--yellow);
    padding: 12px 24px;
    border-color: var(--yellow);
    border: 2px solid;
}

.contact-button button:hover, .lets-talk-button button:hover{
    background-color: var(--black2);
    color: var(--custom-white);
    cursor: pointer;
    border: 2px solid;
    border-color: var(--yellow);
}
 
body{
   background-color: var(--black1);
}

.top-part{
    display: flex;
    justify-content: space-between;
}

.top-part-2{
    margin-left: 100px;
    color: var(--custom-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-part-2 h1{
    font-size: 100px;
    margin: 0;
    margin-top: 100px;
}

.top-part-2 p{
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
}
.image-1{
    width: 300px;
    height: auto;
   float: right;
   margin-right: 50px;
}

.middle-part{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.about-us {
    text-align: right;
    margin-right: 70px;
    align-items: flex-start;
    color: var(--custom-white);
}

.about-us hr{
    height: 5px;
    width: 100px;
    background-color: var(--yellow);
    border-radius: 8px;
    border: 0;
    
}

.image-2{
    width: 320px;
    height: auto;
    margin-right: 70px;
    margin-left: 50px;
}

#our-service{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

#underline{
    width: 45%;
    height: 3px;
    background-color: var(--yellow);
    margin-bottom: 35px;
    border: 0;
    border-radius: 8px;
}
.box{
    background-color: var(--yellow);
    width: 275px;
    height: 275px;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 0;
}

.top-boxes{
    display: flex;
    justify-content: center;
   
}

.box h3,p,img{
    background-color: inherit;
}

.box-text{
    font-size: 13px;
    margin: 10px;
    color: var(--black1);
    text-align: center;
    margin-left: 11px;
    margin-right: 11px;
}

.box-heading{
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--black1);
}

.box img{
    margin-top: 25px;
    margin-bottom: 10px;
}

.box a{
    text-decoration: none;
    color: var(--black1);
}

.form-body{
    display: flex;
    justify-content: space-between;
}
.right-side{
    background-color: var(--yellow);
    height: 600px;
    width: 350px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 16px;
}

#contact-image{
    width: 350px;
    height: 350px;
    margin-right: 50px;
    margin-top: 180px;
}
